#listeJoueur{
	width: 20%;
	margin: 0px;
	padding: 0px;
	height: 100%;
	border-right: 1px solid black;
	display: inline-block;
	vertical-align: top;
}

#listeJoueur li{
	list-style: none;
	padding-top: 3px;
	padding-bottom: 3px;
}

#statjoueur{
	width: 75%;
	margin: 0px;
	padding: 0px;
	display: inline-block;
}

.joueur{
	
}

.just{
	color: green;
}

.faux{
	color: red;
}